#!/usr/bin/env bash

# Update node and npm
if [[ "$(node -v)" != 'v6.'* ]]; then
	curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -
	sudo apt-get install -y nodejs
fi

# Install Gulp
if [ ! "$( type -t gulp )" ]; then
	sudo npm install -g gulp
fi

# Install Bower
if [ ! "$( type -t bower )" ]; then
	sudo npm install -g bower
fi

# Run WordPress init script
sudo -EH -u "vagrant" bash ../scripts/wp-init.sh
