{
  "env": {
    "development": {
      "presets": [
        "latest",
      ],
      "plugins": [
        "transform-runtime",
        "transform-flow-comments",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-regenerator",
      ],
    },
    "production": {
      "presets": [
        ["latest", { "es2015": { "modules": false } }],
      ],
      "plugins": [
        "transform-runtime",
        "transform-flow-comments",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-regenerator",
      ],
    },
  },
}
