### Project Files ###

# Internal test project folder
_test-project

# Code coverage
coverage

### Package Managers ###

# Composer
vendor

# NPM
node_modules
.npm

# Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Miscellaneous files ###

# Log files
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Config file for `imdone-atom` extension
.imdone/config.json


### OS X ###

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Windows ###

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
