{
  "name": "wp-project/{{ project.slug }}",
  "type": "project",
  "config": {
    "preferred-install": "dist",
    "vendor-dir": "htdocs/vendor"
  },
  "repositories": [
    {
      "type": "composer",
      "url": "https://wpackagist.org"
    },
    {
      "type": "vcs",
      "name": "decisionary/blr-base-theme",
      "url": "https://github.com/Decisionary/blr-base-theme.git"
    }
    {{# pluginZips }},
    {
      "type": "package",
      "package": {
        "name": "wpackagist-plugin/{{ name }}",
        "type": "wordpress-plugin",
        "version": "1.0.0",
        "dist": {
          "url": "project-files/plugins/{{ file }}",
          "type": "zip"
        }
      }
    }
    {{/ pluginZips }}
  ],
  "require": {
    "php": ">=5.5",
    "composer/installers": "~1.0.12",
    "johnpbloch/wordpress": "^4.5",
    "oscarotero/env": "^1.0",
    "vlucas/phpdotenv": "^2.0.1",
    "decisionary/blr-base-theme": "dev-master",
    "roots/soil": "^3.7",
    "roots/wp-stage-switcher": "^2.0",
    "wpackagist-plugin/better-wp-security": "^5.3",
    "wpackagist-plugin/bj-lazy-load": "^1.0",
    "wpackagist-plugin/broken-link-checker": "^1.11",
    "wpackagist-plugin/customize-posts": "^0.5",
    "wpackagist-plugin/google-sitemap-generator": "^4.0",
    "wpackagist-plugin/jetpack": "^4.0",
    "wpackagist-plugin/ml-slider": "^3.3",
    "wpackagist-plugin/redirection": "^2.4",
    "wpackagist-plugin/regenerate-thumbnails": "^2.2",
    "wpackagist-plugin/regenerate-thumbnails-advanced": "^1.0",
    "wpackagist-plugin/shortcode-ui": "^0.6",
    "wpackagist-plugin/tinymce-advanced": "^4.2",
    "wpackagist-plugin/w3-total-cache": "^0.9",
    "wpackagist-plugin/wordpress-seo": "^3.1",
    "wpackagist-plugin/wp-optimize": "^1.8",
    "wpackagist-plugin/wp-smushit": "^2.1"
    {{# pluginZips }},
    "wpackagist-plugin/{{ name }}": "*"
    {{/ pluginZips }}
  },
  "extra": {
    "installer-paths": {
      "htdocs/web/app/mu-plugins/{$name}/": ["type:wordpress-muplugin"],
      "htdocs/web/app/plugins/{$name}/": ["type:wordpress-plugin"],
      "htdocs/web/app/themes/{$name}/": ["type:wordpress-theme"]
    },
    "wordpress-install-dir": "htdocs/web/wp"
  },
  "scripts": {
    "post-autoload-dump": [
      "php ./scripts/composer-post-install.php"
    ]
  }
}
