{
  "name": "wp-project/{{ project.slug }}",
  "type": "project",
  "config": {
    "preferred-install": "dist",
    "vendor-dir": "htdocs/vendor"
  },
  "repositories": [
    {{# pluginZips }}
    {
      "type": "package",
      "package": {
        "name": "wpackagist-plugin/{{ name }}",
        "type": "wordpress-plugin",
        "version": "1.0.0",
        "dist": {
          "url": "project-files/plugin-zips/{{ file }}",
          "type": "zip"
        }
      }
    },
    {{/ pluginZips }}
    {
      "type": "composer",
      "url": "https://wpackagist.org"
    }
  ],
  "require": {
    "php": ">=5.6",
    "composer/installers": "~1.0.12",
    "johnpbloch/wordpress": "^4.5",
    "oscarotero/env": "^1.0",
    "vlucas/phpdotenv": "^2.0.1",
    "roots/soil": "^3.7",
    "roots/wp-stage-switcher": "^2.0",
    {{# pluginZips }}
    "wpackagist-plugin/{{ name }}": "*",
    {{/ pluginZips }}
    "wpackagist-plugin/bj-lazy-load": "^1.0",
    "wpackagist-plugin/broken-link-checker": "^1.11",
    "wpackagist-plugin/customize-posts": "^0.5",
    "wpackagist-plugin/shortcode-ui": "^0.6",
    "wpackagist-plugin/w3-total-cache": "^0.9",
    "wpackagist-plugin/wordpress-seo": "^3.1",
    "wpackagist-plugin/wp-smushit": "^2.1"
  },
  "extra": {
    "installer-paths": {
      "htdocs/web/app/mu-plugins/{$name}/": ["type:wordpress-muplugin"],
      "htdocs/web/app/plugins/{$name}/": ["type:wordpress-plugin"],
      "htdocs/web/app/themes/{$name}/": ["type:wordpress-theme"]
    },
    "wordpress-install-dir": "htdocs/web/wp"
  }
}
