<?php

echo 'Handling theme setup...' . PHP_EOL;

chdir( './htdocs/web/app/themes/blr-base-theme/' );
print( 'Installing dependencies for BLR Base Theme' . PHP_EOL );
passthru( 'npm run install-deps' );

chdir( '../{{ theme.slug }}' );
print( 'Installing dependencies for {{ theme.name }}' . PHP_EOL );
passthru( 'npm run install-deps' );

print( 'Compiling assets using gulp build...' . PHP_EOL );
passthru( 'npm run build' );

print( 'BLR Base Theme and {{ theme.name }} have been prepared. Happy hacking.' . PHP_EOL );
