#!/usr/bin/env bash

### Functions ###

###
## Logs a message indicating that the current check passed
##
## @param string $1 An optional message to display after the checkmark symbol
###
check_passed() {
	echo "✔ $1"
}

###
## Logs a message indicating that the current check failed
##
## @param string $1 An optional message to display after the cross
###
check_failed() {
	echo "✘ $1"
}


### Create Database ###

mysql --user={{ db.root_user }} --password={{ db.root_pass }} <<< \
	'CREATE DATABASE IF NOT EXISTS `{{ db.name }}`;'
mysql --user={{ db.root_user }} --password={{ db.root_pass }} <<< \
	'GRANT ALL PRIVILEGES ON `{{ db.name }}`.* TO "{{ db.user }}"@"{{ db.host }}" \
	IDENTIFIED BY "{{ db.pass }}";'


### Install WordPress ###

echo '{{ project.slug }} :: Checking for WordPress database tables...'

if $(wp core is-installed --allow-root); then
	check_passed 'Tables exist'
else
	check_failed 'Creating now'

	wp core install --allow-root --title="{{ project.title }}" \
		--url="{{{ project.url }}}" --admin_email="{{{ admin.email }}}" \
		--admin_user="{{{ admin.user }}}" --admin_password="{{{ admin.pass }}}"
fi


{{# plugin.scaffold }}
### Activate custom plugin ###

wp plugin activate "{{ plugin.slug }}" --allow-root


{{/ plugin.scaffold }}
{{# theme.scaffold }}
### Activate custom theme ###

wp theme activate "{{ theme.slug }}" --allow-root


{{/ theme.scaffold }}
### Activate plugins ###

wp plugin activate --allow-root \
	acf-pro \
	bj-lazy-load \
	broken-link-checker \
	google-sitemap-generator \
	gravity-forms \
	jetpack \
	ml-slider \
	ml-slider-pro \
	monarch \
	soil \
	tinymce-advanced \
	wordpress-seo \
	wp-optimize
