{
  "name": "{{ theme.slug }}",
  "private": true,
  "license": "UNLICENSED",
  {{# repo.url }}
  "homepage": "{{ repo.url }}",
  "repository": {
    "type": "git",
    "url": "{{ repo.url }}.git"
  },
  {{/ repo.url }}
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "devDependencies": {
    "susy": "^2.2.12",
    "font-awesome": "^4.6.1"
  }
}
