{
  "name": "{{ theme.slug }}",
  "license": "UNLICENSED",
  "private": true,
  "ignore": [
    "**/.*",
    "node_modules",
    "bower_components",
    "test",
    "tests"
  ],
  "devDependencies": {
    "susy": "^2.2.12",
    "font-awesome": "^4.6.1"
  }
}
