<?php
/**
 * Theme functions.
 *
 * @package {{ theme.namespace }}
 */

namespace {{ theme.namespace }};

// Exit if called directly.
defined( 'ABSPATH' ) || exit;

/**
 * Main theme class.
 *
 * @since 0.1.0
 */
class Theme {

	/**
	 * The theme version.
	 *
	 * @since 0.1.0
	 * @var string
	 */
	const VERSION = '0.1.0';

	/**
	 * The theme ID.
	 *
	 * This provides a consistent ID string for things like option names.
	 *
	 * @since 0.1.0
	 * @var string
	 */
	const THEME_ID = '{{ theme.id }}';

	/**
	 * Path to the theme includes folder.
	 *
	 * @since 0.1.0
	 * @access public
	 * @var string
	 */
	public static $includes_path;

	/**
	 * URL to the theme assets folder.
	 *
	 * @since 0.1.0
	 * @access public
	 * @var string
	 */
	public static $assets_url;

	/**
	 * Theme class constructor.
	 *
	 * @since 0.1.0
	 */
	public function __construct() {

		// Set includes path and assets URL.
		self::$includes_path = get_stylesheet_directory() . '/includes';
		self::$assets_url    = get_stylesheet_directory_uri() . '/assets/dist';

		// Include our theme class files.
		$this->includes();

		// Set action handlers.
		add_action( 'wp_enqueue_scripts', [ $this, 'scripts_and_styles' ] );
	}

	/**
	 * Returns the path to an includes file.
	 *
	 * @since 0.1.0
	 *
	 * @param string $rel_path Relative path to the file.
	 * @return string
	 */
	public function include_path( $rel_path ) {
		return self::$includes_path . '/' . $rel_path;
	}

	/**
	 * Returns the URL to an asset file.
	 *
	 * @since 0.1.0
	 *
	 * @param string $rel_path Relative path to the asset file.
	 * @return string
	 */
	public function asset_url( $rel_path ) {
		return self::$assets_url . '/' . $rel_path;
	}

	/**
	 * Includes theme class files.
	 *
	 * @since 0.1.0
	 */
	public function includes() {

	}

	/**
	 * Enqueue theme scripts and styles.
	 *
	 * @since 0.1.0
	 */
	public function scripts_and_styles() {

		$version = ( defined( 'WP_DEBUG' ) && WP_DEBUG ) ? time() : null;

		wp_enqueue_style( '{{ theme.slug }}/app', $this->asset_url( 'css/app.css' ), false, $version );
		wp_enqueue_script( '{{ theme.slug }}/app', $this->asset_url( 'js/app.js' ), [ 'jquery' ], $version, true );
	}
}

// Instantiate the main theme class.
new Theme();
