
/**
 * Imports all of the default Gulp tasks:
 *
 *   default
 *   watch
 *   release
 *   build
 *   build/css
 *   build/js
 *   build/images
 *   build/fonts
 *   docs
 *   docs/sass
 *   docs/js
 *   docs/php
 *   qa
 *   qa/lint
 *   qa/test
 *   qa/travis
 */
require( './gulp' );
