/*
Theme Name:   {{ theme.name }}
Template:     blr-base-theme
Description:  {{ theme.description }}
Author:       {{ author.name }}
Author URI:   {{{ author.website }}}
Text Domain:  {{ theme.slug }}
Version:      0.1.0
*/
