/*
Theme Name:   {{ theme.name }}
Template:     blr-base-theme
Description:  Custom theme for "{{ project.title }}"
Author:       YOUR NAME HERE
Author URI:   YOUR WEBSITE HERE
Text Domain:  {{ theme.slug }}
Version:      0.1.0
*/
