DB_NAME={{ db.name }}
DB_USER={{ db.user }}
DB_PASSWORD={{ db.pass }}
DB_HOST={{ db.host }}
DB_PREFIX={{ db.prefix }}

WP_ENV=development
WP_HOME=http://{{{ project.url }}}
WP_SITEURL=${WP_HOME}/wp
WP_DEFAULT_THEME={{ theme.slug }}

AUTH_KEY={{{ secret.auth_key }}}
SECURE_AUTH_KEY={{{ secret.secure_auth_key }}}
LOGGED_IN_KEY={{{ secret.logged_in_key }}}
NONCE_KEY={{{ secret.nonce_key }}}
AUTH_SALT={{{ secret.auth_salt }}}
SECURE_AUTH_SALT={{{ secret.secure_auth_salt }}}
LOGGED_IN_SALT={{{ secret.logged_in_salt }}}
NONCE_SALT={{{ secret.nonce_salt }}}
