<?php
/**
 * Plugin Name:  {{ plugin.name }}
 * Description:  Custom plugin{{# project.title }} for "{{ project.title }}"{{/ project.title }}
 * Author:       YOUR NAME HERE
 * Author URI:   YOUR WEBSITE HERE
 * Text Domain:  {{ plugin.slug }}
 * Domain Path:  /languages
 * Version:      0.1.0
 *
 * @package      {{ plugin.namespace }}
 */

namespace {{ plugin.namespace }};

// Exit if called directly.
defined( 'ABSPATH' ) || exit;

/**
 * Main plugin class.
 *
 * @since 0.1.0
 */
class Plugin {

	/**
	 * The plugin version.
	 *
	 * @since 0.1.0
	 * @var string
	 */
	const VERSION = '0.1.0';

	/**
	 * The plugin ID.
	 *
	 * This provides a consistent ID string for things like option names.
	 *
	 * @since 0.1.0
	 * @var string
	 */
	const PLUGIN_ID = '{{ plugin.id }}';

	/**
	 * Path to the plugin includes folder.
	 *
	 * @since 0.1.0
	 * @access public
	 * @var string
	 */
	public static $includes_path;

	/**
	 * URL to the plugin assets folder.
	 *
	 * @since 0.1.0
	 * @access public
	 * @var string
	 */
	public static $assets_url;

	/**
	 * Plugin class constructor.
	 *
	 * @since 0.1.0
	 */
	public function __construct() {

		// Set includes path and assets URL.
		self::$includes_path = plugin_dir_path( __FILE__ ) . 'includes';
		self::$assets_url    = plugin_dir_url( __FILE__ ) . 'assets/dist';

		// Set action handlers.
		add_action( 'init', [ $this, 'init' ] );
		add_action( 'plugins_loaded', [ $this, 'plugins_loaded' ] );
		add_action( 'wp_enqueue_scripts', [ $this, 'scripts_and_styles' ] );
	}

	/**
	 * Returns the path to an includes file.
	 *
	 * @since 0.1.0
	 *
	 * @param string $rel_path Relative path to the file.
	 * @return string
	 */
	public function include_path( $rel_path ) {
		return self::$includes_path . '/' . $rel_path;
	}

	/**
	 * Returns the URL to an asset file.
	 *
	 * @since 0.1.0
	 *
	 * @param string $rel_path Relative path to the asset file.
	 * @return string
	 */
	public function asset_url( $rel_path ) {
		return self::$assets_url . '/' . $rel_path;
	}

	/**
	 * Runs when the `init` action is fired.
	 *
	 * @since 0.1.0
	 */
	public function init() {

	}

	/**
	 * Runs after all plugins are loaded.
	 *
	 * @since 0.1.0
	 */
	public function plugins_loaded() {

		// Include our plugin class files.
		$this->includes();
	}

	/**
	 * Includes plugin class files.
	 *
	 * @since 0.1.0
	 */
	public function includes() {

	}

	/**
	 * Enqueue plugin scripts and styles.
	 *
	 * @since 0.1.0
	 */
	public function scripts_and_styles() {

	}
}

// Instantiate the main plugin class.
new Plugin();
