linters:
  Indentation:
    character: tab
    width: 1
  LeadingZero:
    style: include_zero
  PlaceholderInExtend:
    enabled: false
  SpaceBetweenParens:
    enabled: false
  QualifyingElement:
    enabled: false
  PropertySortOrder:
    ignore_unspecified: true
    separate_groups: true
    order:
      - content
      - z-index
      - position
      - left
      - right
      - top
      - bottom
      - float
      - clear
      - display
      - visibility
      - overflow
      - overflow-x
      - overflow-y
      - box-sizing
      - table-layout
      - border-collapse
      - empty-cells
      - width
      - min-width
      - max-width
      - height
      - min-height
      - max-height
      - padding
      - padding-left
      - padding-right
      - padding-top
      - padding-bottom
      - margin
      - margin-left
      - margin-right
      - margin-top
      - margin-bottom
      - border
      - border-width
      - border-style
      - border-color
      - border-left
      - border-left-width
      - border-left-style
      - border-left-color
      - border-right
      - border-right-width
      - border-right-style
      - border-right-color
      - border-top
      - border-top-width
      - border-top-style
      - border-top-color
      - border-bottom
      - border-bottom-width
      - border-bottom-style
      - border-bottom-color
      - border-radius
      - border-top-left-radius
      - border-top-right-radius
      - border-bottom-left-radius
      - border-bottom-right-radius
      - outline
      - outline-width
      - outline-style
      - outline-color
      - box-shadow
      - color
      - background
      - background-color
      - background-image
      - background-repeat
      - background-attachment
      - background-position
      - background-size
      - opacity
      - font
      - font-family
      - font-weight
      - font-style
      - font-variant
      - font-size
      - line-height
      - letter-spacing
      - white-space
      - text-align
      - text-decoration
      - text-indent
      - text-transform
      - text-shadow
      - list-style
      - list-style-type
      - list-style-position
      - list-style-image
      - animation
      - transform
      - transition
