{
  "name": "wp-project/{{ project.slug }}",
  "type": "project",
  "config": {
    "preferred-install": "dist"
  },
  "repositories": [
    {
      "type": "composer",
      "url": "https://wpackagist.org"
    },
    {
      "type": "vcs",
      "name": "decisionary/blr-base-theme",
      "url": "https://0b124a282b42d07c0f22e9db6f23694145add15e:x-oauth-basic@github.com/Decisionary/blr-base-theme.git"
    }
  ],
  "require": {
    "php": ">=5.5",
    "composer/installers": "~1.0.12",
    "johnpbloch/wordpress": "4.4.2",
    "oscarotero/env": "^1.0",
    "vlucas/phpdotenv": "^2.0.1",
    "decisionary/blr-base-theme": ">=0.1.0",
    "roots/soil": "^3.7",
    "roots/wp-stage-switcher": "^2.0",
    "wpackagist-plugin/better-wp-security": "^5.3",
    "wpackagist-plugin/bj-lazy-load": "^1.0",
    "wpackagist-plugin/broken-link-checker": "^1.11",
    "wpackagist-plugin/google-sitemap-generator": "^4.0",
    "wpackagist-plugin/jetpack": "^3.9",
    "wpackagist-plugin/ml-slider": "^3.3.6",
    "wpackagist-plugin/redirection": "^2.4",
    "wpackagist-plugin/tinymce-advanced": "^4.2",
    "wpackagist-plugin/w3-total-cache": "0.9.4.1",
    "wpackagist-plugin/wordpress-seo": "^3.1",
    "wpackagist-plugin/wp-optimize": "1.8.9.10",
    "wpackagist-plugin/wp-smushit": "^2.1"
  },
  "extra": {
    "installer-paths": {
      "htdocs/web/app/mu-plugins/{$name}/": ["type:wordpress-muplugin"],
      "htdocs/web/app/plugins/{$name}/": ["type:wordpress-plugin"],
      "htdocs/web/app/themes/{$name}/": ["type:wordpress-theme"]
    },
    "wordpress-install-dir": "htdocs/web/wp"
  }
}
