{
  "name": "wp-project/{{ project.slug }}",
  "type": "project",
  "config": {
    "preferred-install": "dist"
  },
  "repositories": [
    {
      "type": "composer",
      "url": "https://wpackagist.org"
    },
    {
      "type": "git",
      "name": "roots/sage",
      "url": "https://github.com/wesm87/sage"
    }
  ],
  "require": {
    "php": ">=5.5",
    "composer/installers": "~1.0.12",
    "johnpbloch/wordpress": "4.4.2",
    "oscarotero/env": "^1.0",
    "vlucas/phpdotenv": "^2.0.1",
    "roots/sage": "dev-feature/wordpress-standards",
    "roots/soil": "^3.7",
    "roots/wp-stage-switcher": "^2.0",
    "wpackagist-plugin/ml-slider": "^3.3.6"
  },
  "extra": {
    "installer-paths": {
      "htdocs/web/app/mu-plugins/{$name}/": ["type:wordpress-muplugin"],
      "htdocs/web/app/plugins/{$name}/": ["type:wordpress-plugin"],
      "htdocs/web/app/themes/{$name}/": ["type:wordpress-theme"]
    },
    "wordpress-install-dir": "htdocs/web/wp"
  }
}
